@page
@using Avid.PaymentService.DigitalWallet.Localization
@using Microsoft.Extensions.Localization
@model Avid.PaymentService.DigitalWallet.Web.Pages.PaymentService.DigitalWallet.IndexModel
@inject IStringLocalizer<DigitalWalletResource> L
@{
}
<h1>DigitalWallet</h1>
<p>@L["SamplePageMessage"]</p>